@use "../globales/variables";
.boton
{
    width: 160px;
    height: 45px;
    border-radius: 8px;
    background-color: black;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    color: rgb(255, 255, 255);
    margin: 1rem;
    font-family: "Kdam Thmor Pro", sans-serif;
    transition: all .3s ease;
    &:hover
    {
        
        cursor: pointer;
        box-shadow: 1px 0px 5px 1px rgb(255, 255, 255);
       
    }
}

