@use"../globales/variables" as v;
@use'../globales/mixings' as m;
.buscadorPrimigenio
{
    color: white;
    .boxRadio
    {
        display: flex;
        margin-left: 1rem;
    }
    .radio-class
    {
        height: 1.7em;
        width: 1.7rem;
 
    }
    .input-text
    {
        width: 80%;
        height: 3.6rem;
        border: .1px;
        border-radius: .3rem;        
    }
    .Buscador-Precio
    {
        display: none;
    }
    
}
