// .btn-carrito
// {
//     position: fixed;
//     top: 90%;
//     left: 92%;
//     background: transparent;
//     border: none;
// }

.fondo-carrito {
    position: fixed;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.2629784336) 76%);
    width: 41rem;
    height: 90%;
    top: 7rem;
    transform: translateX(380%);
    opacity: 1;


    &.transition.active {
        transition: ease 2s;
        transform: translateX(267%);
        opacity: 1;

    }

    &.transition {
        transition: ease 2s;
        opacity: 0;

    }


    .btn-cierra-carrito {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 2rem;
        padding: 2rem;
        font-weight: 800;

        &:hover {
            cursor: pointer;
        }


    }

    .contenedorCarrito {
        color: white;
        text-align: center;

        .tabla-carrito {
            margin: 0 auto;

            .img-min-carrito {
                width: 6rem;
                height: 6em;
                border-radius: .7rem;
            }

            .th_carrito {
                margin-left: 1;
            }
        }
    }

    .btn_compraCarrito {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.div-btn-carrito {
    position: fixed;
    right: 10%;
    bottom: 7%;
    
    .btn-carrito {

        background: linear-gradient(180deg, rgb(84, 84, 84) 0%, rgba(0, 0, 0, 0.263) 76%);
        border-radius: 20%;
        position: fixed;
        border: none;
        opacity: 1;
        transition: ease 2s;

        &:hover {
            cursor: pointer;
        }
        &.desactivoBtnCarrito
        {
            transition: ease 2s;
            opacity: 0;
            right: -20%;
            
        }

        .icono-carrito {
            width: 5rem;
            height: 5rem;
            margin: 0 auto;
            
        }

    }

}